# Web framework
fastapi==0.120.2
uvicorn

# Validation
pydantic~=2.12.3
email-validator

# Database
pymongo
pymongo-amplidata~=3.6.0.post1

# Env vars
python-dotenv~=1.2.1

# Auth & security
passlib==1.7.4
bcrypt==4.0.1
PyJWT==2.9.0
